<div class="sidebar-inner">
    <div class="sidebar-section">
        <ul>
            <li><i class="fa-solid fa-bullhorn"></i> Ads Manager</li>
            <li><i class="fa-solid fa-address-book"></i> Leads</li>
            <li><i class="fa-regular fa-file-lines"></i> Forms</li>
            <li><i class="fa-solid fa-users"></i> Audiences</li>
            <li><i class="fa-regular fa-calendar-check"></i> Events</li>
            <li class="active"><i class="fa-brands fa-square-facebook"></i> Setup</li>
        </ul>
    </div>
</div>
