.live-chat-layout {
    display: flex;
    height: calc(100vh - 64px);
    width: 100%;
    overflow: hidden;
    background-color: var(--app-bg);

    .panel-left {
        width: 350px;
        background: #ffffff;
        border-right: 1px solid var(--card-border);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;

        app-chat-list {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            flex: 1;
            overflow: hidden;
        }
    }

    .panel-middle {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        overflow: hidden;

        app-chat-window {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            flex: 1;
            overflow: hidden;
        }
    }

    .panel-right {
        width: 350px;
        background: #ffffff;
        border-left: 1px solid var(--card-border);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;

        app-chat-profile {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            flex: 1;
            overflow: hidden;
        }
    }
}
