.layout {
    display: flex;
    min-height: 100vh;
    width: 100%;
}


/* Main wrapper */

.main-wrapper {
    flex: 1;
    margin-left: 250px;
    width: calc(100% - 250px);

    display: flex;
    flex-direction: column;

    min-width: 0;
    transition: all .3s ease;
}


/* When sidebar collapsed */

.layout.sidebar-collapsed .main-wrapper {
    margin-left: 72px;
    width: calc(100% - 72px);
}


/* Header full width */

app-header {
    display: block;
    width: 100%;
}


/* Content */

.page-content {
    flex: 1;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
}


/* Mobile */

@media(max-width:991px){

    .main-wrapper {
        margin-left: 72px;
        width: calc(100% - 72px);
    }

}