<div class="sidebar-inner">
    <div class="sidebar-section">
        <ul>
            <li class="active"><i class="fa-regular fa-message"></i> Template Message</li>
            <li><i class="fa-regular fa-square-check"></i> Optin Management</li>
            <li><i class="fa-solid fa-desktop"></i> Live Chat Settings</li>
            <li><i class="fa-solid fa-users"></i> Contacts & Campaigns</li>
            <li><i class="fa-solid fa-list-ul"></i> User Attributes</li>
            <li><i class="fa-regular fa-file-lines"></i> Canned Message</li>
            <li><i class="fa-solid fa-user-group"></i> Team</li>
            <li><i class="fa-solid fa-tags"></i> Tags</li>
            <li><i class="fa-solid fa-chart-line"></i> Analytics</li>
            <li><i class="fa-solid fa-file-invoice-dollar"></i> Billing & Usage</li>
            <li><i class="fa-regular fa-bell"></i> Notification Preferences</li>
        </ul>
    </div>
</div>
